<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <!-- Writes object values from logging context as actual JSON (not escaped) -->
      <mdcEntryWriter class="dev.hermannm.devlog.output.logback.JsonContextFieldWriter"/>

      <!-- To test file/line info in LoggerTest -->
      <includeCallerData>true</includeCallerData>

      <fieldNames>
        <!--
          Include MDC (logging context) fields under "context" key, so we can separate them from other fields in tests
        -->
        <mdc>context</mdc>
      </fieldNames>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
