build/
target/
.kotlin

# Gradle-specific build directory
.gradle

# Ignore all IntelliJ files
.idea
*.iml
*.ipr
*.iws

# ...except some shared IntelliJ config
!.idea/codeStyles/codeStyleConfig.xml
!.idea/codeStyles/Project.xml
!.idea/encodings.xml
!.idea/externalDependencies.xml
!.idea/ktfmt.xml
!.idea/vcs.xml

# Exclude example test directory, which we use to create examples for docstrings
/src/commonTest/kotlin/dev/hermannm/devlog/example
/src/jvmTest/kotlin/dev/hermannm/devlog/example

.DS_Store
