target/

# Ignore all IntelliJ files
.idea
*.iml
*.ipr
*.iws

# ...except some shared IntelliJ config
!.idea/codeStyles/codeStyleConfig.xml
!.idea/codeStyles/Project.xml
!.idea/encodings.xml
!.idea/externalDependencies.xml
!.idea/kotlinc.xml
!.idea/ktfmt.xml
!.idea/vcs.xml

# Exclude example test directory, which we use to create examples for docstrings
/src/test/kotlin/dev/hermannm/devlog/example

# Exclude local Maven repository used for integration tests
# (will be generated when running mvn verify)
local-maven-repo/
